$card-width: 370px;
$card-height: 190px;
$high-z-index: 1000;
$transition-time: 0.3s;
$transition-delay: 0.1s;
$transition-style: ease-in-out;

.movie-card-wrapper {
  position: relative;
  padding: 1rem;
  z-index: 1;
  transition: transform $transition-time $transition-style;
  transition-delay: $transition-delay;

  &.hovered, &:hover {
    transform: scale(1.1);
    z-index: $high-z-index;
  
    .movie-card {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .movie-card {
    overflow: hidden;
    border: 0;
    padding: 0;


    .movie-image {
      width: $card-width;
      height: $card-height;
      object-fit: cover;
      filter: brightness(120%) saturate(110%);
    }

    .shadow-gradient {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
      z-index: 0;
    }
    .movie-title {
      color: white;
      padding: 0;
      margin-bottom: 0;
    }

    .card-text {
      font-size: 0.8rem;
    }
    .movie-body {
      position: absolute;
      bottom: 0;
      background: transparent;
      color: white;
      text-align: left;
      z-index: 2;
      transition: all $transition-time $transition-style;
      transition-delay: $transition-delay;
    }
  }

  .hovered-movie-card {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $transition-time, opacity $transition-time $transition-style;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    .hovered-body {
      position: absolute;
      width: 100%;
      z-index: $high-z-index;
      transition: transform $transition-time $transition-style;
      border-radius: 0 0 5px 5px;
    }
  }
}

